@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: DanaBold;
  src: url('../../public/Fonts/dana-bold.woff2');
}

@font-face {
  font-family: DanaRegular;
  src: url('../../public/Fonts/dana-regular.woff2');
}

@font-face {
  font-family: Enotype;
  src: url('../../public/Fonts/enotype.ttf');
}

@font-face {
  font-family: FontAwesome;
  src: url('../../public/Fonts/font-awesome.ttf');
}

@font-face {
  font-family: IRANSansWeb;
  src: url('../../public/Fonts/IRANSansWeb\(FaNum\).woff2');
}

@font-face {
  font-family: Momizat;
  src: url('../../public/Fonts/momizat.ttf');
}

@font-face {
  font-family: ShabnamBold;
  src: url('../../public/Fonts/Shabnam-Bold-FD-WOL.woff2');
}

@font-face {
  font-family: Shabnam;
  src: url('../../public/Fonts/Shabnam-FD-WOL.woff2');
}

@font-face {
  font-family: WhyteInktrap;
  src: url('../../public/Fonts/WhyteInktrap-Regular.woff2');
}

@font-face {
  font-family: Yekan;
  src: url('../../public/Fonts/Yekan.woff');
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
