.admin-header {
  margin-bottom: 20px; /* فاصله از پایین هدر */
  padding: 10px 20px;
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right; /* چینش متن به سمت چپ */

  }
  
  .header-title {
    font-size: 18px;

  }
  .logout-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    transition: color 0.3s ease;
  }
  .logout-button:hover {
    color: #e74c3c;
  }
    .content {
    margin-top: 60px; 
    padding: 20px;
    transition: margin-left 0.3s ease;
}

/* استایل کلی برای منوی کشویی */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: right 0.3s ease;
  padding-top: 20px;
  z-index: 1000;
  color: white;
}

/* نمایش انیمیشن برای ظاهر شدن */
.sidebar-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px;
  text-align: center;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-menu li a:hover {
  background-color: #555;
  padding: 10px;
}

/* استایل برای دکمه‌های منو */
.hamburger-menu {
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
